:root {
  font-size: 16px;
  font-family: system-ui, ui-sans-serif, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Reference for the attribute below: https://youtu.be/cH8VbLM1958 */
  min-width: 0;

  --no-color: hsla(0, 0%, 0%, 0);

  /* Colour scheme */
  --button: hsl(170, 100%, 16%);
  --button-hover: hsla(182, 100%, 20%, 0.753);
  --button-active: hsl(170, 100%, 12%);
  --button-disabled: hsla(172, 38%, 16%, 0.288);
  --background: hsl(0, 0%, 100%);
  --background-hover: hsla(147, 100%, 66%, 0.377);
  --label-hover: hsla(207, 100%, 84%, 0.459);

  /* Ornamental colours */
  --liquescent-text: hsl(216, 100%, 41%);
  --quilisma-text: hsl(59, 78%, 28%);
  --oriscus-text: hsl(318, 100%, 36%);
  --unclear-text: hsl(0, 0%, 15%);

  --melisma-text: hsl(115, 61%, 28%);
  --melisma-background: hsla(138, 100%, 66%, 0.4);
  --melisma-spotlight-fill: hsla(138, 100%, 72%, 0.2);
  --melisma-spotlight-stroke: hsl(138, 100%, 72%);

  /* Default highlighting colours */
  --highlight-fill: hsl(276, 74%, 51%);
  --highlight-stroke: hsl(276, 100%, 31%);
  --melodic-pattern-gabc: hsla(276, 100%, 75%, 0.596);

  --spotlight-fill: hsla(276, 74%, 51%, 0.075);
  --spotlight-stroke: hsla(276, 100%, 31%, 0.466);

  /* Gap highlighting */
  --gap-side-note-fill: hsla(339, 100%, 50%, 0.3);
  --gap-side-note-stroke: hsla(339, 100%, 50%, 0.8);
  --gap-filler-fill: hsla(2, 100%, 50%, 0.7);
  --gap-filler-stroke: hsl(2, 100%, 50%);

  /* Mismatch highlighting */
  --mismatch-fill: hsla(240, 100%, 50%, 0.7);
  --mismatch-stroke: hsl(240, 100%, 50%);
  --mismatch-fill-box: hsla(240, 100%, 50%, 0.12);
  --mismatch-stroke-box: hsla(240, 100%, 50%, 0.4);

  /* Text */
  --text-error: hsl(0, 78%, 57%);
}

/* Navbar, the top elements div */
#navbar {
  display: flex;
  justify-content: flex-start;
  gap: 0.3rem;
  align-items: center;
  background-color: white;
  color: white;
}

/* Custom button styles */

h1,
h2,
h3 {
  margin: 0 0 0.5rem 0;
  padding: 0 0;
}

p {
  margin: 0.5rem 0;
}

ul {
  margin: 0;
}

g {
  fill: hsl(0, 0%, 0%);
}

.section {
  /* border: 1px solid hsl(0, 0%, 0%); */
  border-radius: 12px;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 1px 1px 4px hsl(0, 0%, 0%);
  height: fit-content;
}

#top-elements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

#mei-display,
#mei-file-select {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* For dropdown lists */
select {
  width: 85%;
  font-size: medium;
  padding: 0.7rem;
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: justify;
}


/* Styling for the search panel */
input#pattern-input-box {
  width: 20rem;
  height: 1.2rem;
  margin: 0.3rem 0;
}

#clear-pattern-input-btn {
  padding: 0.3rem 0.7rem;
}

.melodic-pattern-word {
  text-emphasis: triangle var(--highlight-fill);
  text-emphasis-position: under right;
}

.melodic-pattern-word-gabc {
  background-color: var(--melodic-pattern-gabc);
  font-weight: 550;
}

.error {
  color: var(--text-error);
}

#mode-grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#mode-grid>* {
  flex: 1 2 25%;
}

#scroll-up-btn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px;
  left: 30px;
  z-index: 99;
}

.nonselectable-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}