:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: 0px;
  border-radius: 8px;
  color: white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2c4300;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #2c4300aa;
}

g {
  fill: black;
}

g.nc:hover {
  fill: #ace600;
  stroke: #314b01;
  stroke-width: 5px;
}

#top-elements {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

#mei-display, #mei-file-select {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pattern-count {
  color:hsl(357, 95%, 25%);
  font-weight: bold;
}

.file-upload-box {
  border: 1px solid #ccc;
  width: 60%;
}

#cross-comparison-result{
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

#cross-comparison-result > p {
  word-wrap: break-word;
  margin: 0.5em;
}

.database-select {
  width: 85%;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: justify;
  /* pointer-events: none; */
}

.database-select option {
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.database-select option:hover {
  background-color: #ace600;
  color: white;
}