/* Global stylesheet */

:root {
  font-size: 16px;
  font-family: system-ui, ui-sans-serif, Helvetica, sans-serif;
  line-height: 1.48;
  font-weight: 400;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Reference for the attribute below: https://youtu.be/cH8VbLM1958 */
  min-width: 0;

  --no-color: hsla(0, 0%, 0%, 0);
  --white: hsl(0, 0%, 100%);

  /* Colour scheme */  
  --emerald-500: #10b981;
  --emerald-600: #059669;
  --emerald-700: #047857;
  --emerald-800: #065f46;
  --emerald-900: #064e3b;
  --emerald-950: #022c22;

  --cyan-100: #cffafe;
  --cyan-200: #a5f3fc;
  --sky-600: #0284c7;
  --sky-700: #0369a1;

  --amber-600: #d97706;
  --amber-700: #b45309;

  --violet-600: #7c3aed;
  --violet-700: #6d28d9;

  --fuchsia-600: #c026d3;
  --fuchsia-700: #a21caf;

  --button: var(--emerald-900);
  --button-hover: var(--emerald-700);
  --button-active: var(--emerald-800);
  --button-disabled: hsla(172, 38%, 16%, 0.288);
  --background: var(--white);
  --background-hover: hsla(147, 100%, 66%, 0.377);


  --label-hover: var(--cyan-100);
  
  /* Ornamental colours */
  /* --liquescent-text: hsl(216, 100%, 41%); */
  /* --quilisma-text: hsl(59, 78%, 28%); */
  /* --oriscus-text: hsl(318, 100%, 36%); */
  --liquescent-text: var(--sky-600);
  --quilisma-text: var(--amber-600);
  --oriscus-text: var(--fuchsia-600);

  --melisma-text: hsl(115, 61%, 28%);
  --melisma-background: hsla(138, 100%, 66%, 0.4);
  --melisma-spotlight-fill: hsla(138, 100%, 72%, 0.2);
  --melisma-spotlight-stroke: hsl(138, 100%, 72%);

  /* Default highlighting colours */
  --highlight-fill: hsl(276, 74%, 51%);
  --highlight-stroke: hsl(276, 100%, 31%);
  --melodic-pattern-gabc: hsla(276, 100%, 75%, 0.596);

  --spotlight-fill: hsla(276, 74%, 51%, 0.075);
  --spotlight-stroke: hsla(276, 100%, 31%, 0.466);

  /* Gap highlighting */
  --gap-side-note-fill: hsla(339, 100%, 50%, 0.3);
  --gap-side-note-stroke: hsla(339, 100%, 50%, 0.8);
  --gap-filler-fill: hsla(2, 100%, 50%, 0.7);
  --gap-filler-stroke: hsl(2, 100%, 50%);

  /* Mismatch highlighting */
  --mismatch-fill: hsla(240, 100%, 50%, 0.7);
  --mismatch-stroke: hsl(240, 100%, 50%);
  --mismatch-fill-box: hsla(240, 100%, 50%, 0.12);
  --mismatch-stroke-box: hsla(240, 100%, 50%, 0.4);

  /* Text */
  --text-error: hsl(0, 78%, 57%);
}

/* Custom button styles */

h1,
h2,
h3 {
  margin: 0 0 0.36rem 0;
  padding: 0;
}

p {
  margin: 0.5rem 0;
}

ul {
  margin: 0;
}

g {
  fill: hsl(0, 0%, 0%);
}

.melodic-pattern-word {
  text-emphasis: triangle var(--highlight-fill);
  text-emphasis-position: under right;
}

.melodic-pattern-word-gabc {
  background-color: var(--melodic-pattern-gabc);
  font-weight: 550;
}

.error {
  color: var(--text-error);
}

.nonselectable-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.liquescent-word {
  color: var(--liquescent-text);
  font-weight: bold;
  text-decoration: underline solid;
}

.quilisma-word {
  color: var(--quilisma-text);
  font-weight: bold;
  text-decoration: underline wavy;
}

.oriscus-word {
  color: var(--oriscus-text);
  font-weight: bold;
  text-decoration: underline dashed 0.1rem;
}

.melisma-word {
  background-color: var(--melisma-background);
}